<%- include('common/header') %>

	<!-- ======= Hero Section ======= -->
	<section id="hero">
		<div class="hero-container" data-aos="fade-up">
			<!-- <div class="search-form container">
				<form id="search_form" name="search_form" method="POST" onsubmit="checkParem(); return false;">
					<div class="input-group mb-3">
						<input type="text" class="form-control form-control-lg ui-autocomplete-input" placeholder="" aria-label="" aria-describedby="button-addon2">
						<div class="input-group-append">
							<button type="button"><i class="bi bi-search"></i></button>
						</div>
					</div>
				</form>
			</div> -->
			<!-- End sidebar search formn-->
			<h1>Korean Rare Disease DB</h1>
		</div>
	</section><!-- End Hero -->

	<main id="main">
		<!-- ======= About Section ======= -->
		<section id="about" class="about">
			<div class="container">
				<!-- <div class="row justify-content-end">
					<div class="col-lg-11">
						<div class="row justify-content-end">
							<div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
								<div class="count-box py-5">
									<i class="bi bi-emoji-smile"></i>
									<span data-purecounter-start="0" data-purecounter-end="65" class="purecounter">0</span>
									<p>Happy Clients</p>
								</div>
							</div>

							<div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
								<div class="count-box py-5">
									<i class="bi bi-journal-richtext"></i>
									<span data-purecounter-start="0" data-purecounter-end="85" class="purecounter">0</span>
									<p>Projects</p>
								</div>
							</div>

							<div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
								<div class="count-box pb-5 pt-0 pt-lg-5">
									<i class="bi bi-clock"></i>
									<span data-purecounter-start="0" data-purecounter-end="27" class="purecounter">0</span>
									<p>Years of experience</p>
								</div>
							</div>

							<div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
								<div class="count-box pb-5 pt-0 pt-lg-5">
									<i class="bi bi-award"></i>
									<span data-purecounter-start="0" data-purecounter-end="22" class="purecounter">0</span>
									<p>Awards</p>
								</div>
							</div>
						</div>
					</div>
				</div> -->

				<div class="row">
					<div class="col-lg-6 video-box align-self-baseline position-relative">
						<img src="/img/overview.png" class="img-fluid" alt="">
					</div>

					<div class="col-lg-6 pt-3 pt-lg-0 content">
						<p>The Exome Variant Service (EVS) is a coalition of investigators seeking to aggregate and harmonize exome sequencing data from a wide variety of large-scale sequencing projects, and to make summary data available for the wider scientific community.</p>
						<p>The data set provided on this website spans 60,706 unrelated individuals sequenced as part of various disease-specific and population genetic studies.</p>
						<p>The EVS Principal Investigators and groups that have contributed data to the current release are listed here. All data here are released under a Fort Lauderdale Agreement for the benefit of the wider biomedical community - see the terms of use here.</p>
						<p>Sign up for our mailing list for future release announcements here.</p>


						<!-- <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
						<p class="font-italic">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.
						</p>
						<ul>
							<li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
							<li><i class="bx bx-check-double"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
							<li><i class="bx bx-check-double"></i> Voluptate repellendus pariatur reprehenderit corporis sint.</li>
							<li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
						</ul>
						<p>
							Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
							velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
							culpa qui officia deserunt mollit anim id est laborum
						</p> -->
					</div>
				</div>
			</div>
		</section><!-- End About Section -->

		<!-- ======= Cta Section ======= -->
		<section id="cta" class="cta">
			<div class="container" data-aos="fade-in">
				<div class="text-center">
					<!-- <h3>Call To Action</h3>
					<p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<a class="cta-btn" href="#">Call To Action</a> -->
				</div>
			</div>
		</section><!-- End Cta Section -->

		<!-- ======= Services Section ======= -->
		<section id="services" class="services ">
			<div class="container">
				<div class="row pt-5">
					<div class="col-md-6">
						<div class="icon-box" data-aos="fade-up">
							<div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
							<h4 class="title"><a href="">Hereditary Spastic Paraplegia</a></h4>
							<p class="description">Hereditary spastic paraplegia (HSP) is a group of inherited diseases whose main feature is a progressive gait disorder. The disease presents with progressive stiffness (spasticity) and contraction in the lower limbs. The symptoms are a result of dysfunction of long axons in the spinal cord.</p>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="icon-box" data-aos="fade-up">
							<div class="icon"><i class="bi bi-book" style="color: #e9bf06;"></i></div>
							<h4 class="title"><a href="">Tourette Syndrome</a></h4>
							<p class="description">Tourette syndrome is a common neurodevelopmental disorder that begins in childhood or adolescence. It is characterized by multiple movement (motor) tics and at least one vocal (phonic) tic. Common tics are blinking, coughing, throat clearing, sniffing, and facial movements.</p>
						</div>
					</div>

					<div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
						<div class="icon-box">
							<div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
							<h4 class="title"><a href="">Retinitis Pigmentosa</a></h4>
							<p class="description">Retinitis pigmentosa (RP) is a genetic disorder of the eyes that causes loss of vision. Symptoms include trouble seeing at night and decreased peripheral vision (side vision). Onset of symptoms is generally gradual and often in childhood.</p>
						</div>
					</div>

					<div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
						<div class="icon-box">
							<div class="icon"><i class="bi bi-binoculars" style="color:#41cf2e;"></i></div>
							<h4 class="title"><a href="">Malformations of Cortical Development</a></h4>
							<p class="description">Malformations of cortical development (MCDs) are brain malformations that result from abnormalities affecting the normal processes of cortical development and involving cells that under normal circumstances would participate in formation of the cerebral cortex.</p>
						</div>
					</div>

					<div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
						<div class="icon-box">
							<div class="icon"><i class="bi bi-globe" style="color: #d6ff22;"></i></div>
							<h4 class="title"><a href="">Lennox Gastaut Syndrome</a></h4>
							<p class="description">Lennox–Gastaut syndrome (LGS) is a complex, rare, and severe childhood-onset epilepsy. It is characterized by multiple and concurrent seizure types, cognitive dysfunction, and slow spike waves on electroencephalogram (EEG). Typically, it presents in children aged 3–5 years and can persist into adulthood.</p>
						</div>
					</div>

					<!-- <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
						<div class="icon-box">
							<div class="icon"><i class="bi bi-clock" style="color: #4680ff;"></i></div>
							<h4 class="title"><a href="">Eiusmod Tempor</a></h4>
							<p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
						</div>
					</div> -->
				</div>
			</div>
		</section><!-- End Services Section -->

		<section id="banner">
			<div class="banner-carousel">
				<img src="/img/ci/banner1.png" alt=""/>
				<img src="/img/ci/banner2.png" alt=""/>
				<img src="/img/ci/banner3.png" alt=""/>
			</div>
		</section>
	</main><!-- End #main -->
	
<%- include('common/footer') %>