
	<!-- ======= Footer ======= -->
	<footer id="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-2 col-5">
						<img alt="" src="/img/ci/KOBIC_CI_white.png" class="w-100" style="max-width: 130px;">
					</div>

					<div class="col-lg-10 col-md-10 col-sm-10 col-7">
						<div id="footer-text">
							<div class="address">
								Korea Bioinformation Center (KOBIC), Korea Research Institute of Bioscience &amp; Biotechnology (KRIBB), Daejeon 34141, Republic of Korea<br>
							</div>
							
							<ul>
								<li>Tel : +82-42-879-8542</li>
								<li>Fax : +82-42-879-8519</li>
								<li>E-mail : kobic@kobic.kr</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="copyright">© 2021. Korea Bioinformation Center (KOBIC). all rights reserved.</div>
		</div>
	</footer><!-- End Footer -->

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
	<!-- Template Main JS File -->
	<script src="/js/main.js"></script>
</body>
</html>