<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="browseMapper">  
	<select id="testBasic">
		SELECT
			ord, name, contents
		FROM testsss
	</select>

	<select id="ajaxTest">
		SELECT
			ord, name, contents
		FROM testsss
		WHERE ord=#{ord}
	</select>
</mapper>